<footer>
  <div class="lastcontainer">
    <div class="sec aboutus">
      <h2>saragro</h2>
      <p> Welcome to Saragro! Get your daily needs easy and instant from our shop. Buy fresh and organic fruits
        with a big discount! Please use this discount to get upto 50% discunt from your total purchase.
        Dear sir/madam, Now you can get upto 25% discount for some product.Thank You!
      </p>
      <ul class="links">
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a [routerLink]="HomePage">Home</a></li>
        <li><a [routerLink]="AboutPage">About us</a></li>
        <li><a [routerLink]="TermsPage">Terms & Conditions</a></li>
        <li> <a [routerLink]="HelpPage">Help & Support</a></li>
        <li><a [routerLink]="CancelPage">Refund & Cancellation</a></li>
        <li><a [routerLink]="PrivacyPage">Privacy Policy</a></li>
        <li><a [routerLink]="ContactPage">Contact Us</a></li>
      </ul>
    </div>
    <div class="sec contactus">
      <h2>Office Info</h2>
      <ul class="info">
        <li>
          <span><i class="fa-solid fa-location-dot"></i></span>
          <p>173 New Trichy Branch Road,<br> Annathanapatty,<br>
          Salem-636002,<br>Tamilnadu</p>
        </li>
        <li>
          <span><i class="fa-solid fa-phone"></i></span>
          <p><a href="tel:12345678900">+91-9360408441</a><br><a href="tel:12345678900">+91-8973841881</a></p>
        </li>
        <li>
          <span><i class="fa-solid fa-envelope"></i></span>
          <p><a href="mailto:udrive@gmail.com">saragro@gmail.com</a></p>
        </li>
      </ul>
      </div>
      <div class="sec contactus">
        <h2>Subscribe Us</h2>
        <div class="message">
          <form action="#">
            <div class="email">
              <div class="text"></div>
              <input type="email" placeholder="Enter Email address...."required style="width:350px;height:35px;margin-bottom: 10px;">
            </div>
            <div class="msg">
              <div class="text"></div>
              <textarea rows="" cols="25" required style="width:350px;margin-bottom: 10px;"placeholder="Type Message....."></textarea>
            </div>
            <div class="btn">
              <button type="submit" style="width:250px;height:38px;font-size: 20px;">Send</button>
            </div>
          </form>
        </div>
  </div>
