.outter{
  display: flex;

}
.inner:nth-child(1){
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 100vh;
  gap: 20px;
  background-color: white;
  padding: 20px 0px 0px 0px;
  position: sticky;
  inset: 0;
}
.inner:nth-child(1) h1{
  font-size: 1.2vw;
  color: black;
  text-align: center;
}
.inner:nth-child(2){
  background-color: #f5f5f5;
  width: 90%;
  /* height: 400vh; */
  padding-top: 50px;
}
.inner:nth-child(1) a{
  text-decoration: none;
  color: black;
  font-size: 1.2vw;
  margin-left: 20px;
}
.inner:nth-child(1) i{
  margin-right: 20px;
}
.anchor{
  height: 50px;
  display: flex;
  align-items: center;
  rigth:0;
}
