

<!-- -----------------------------Display FAQs details --------------------------------->

<div class="Faqs">
  <h1>FAQs</h1>

  <div class="commonBox">
   <div class="commonBoxes">
     <h2> How are the fruits and vegetables weighed ?</h2>
     <p>
      Every fruit and vegetable varies a bit in size and weight. However, we have stringent control on the average sizes and weights. We show an estimated weight and price for everything in our website. At the time of packing, we weigh each item to determine final price. This could vary by a maximum of one unit weight depending on the article. In case the weight of the product is lesser than what you ordered, or if the weight exceeds than you may pay accordingly.
  </p>
   </div>
   <div class="commonBoxes">
     <h2> My Item arrived damaged or defective. What should I do ?</h2>
     <p>
      We follow all quality check before packing and delivery. However, since we are not using any preservatives and items are perishables, at times there can be issues reported, in such cases, if your order has arrived damaged or defective, you could raise your concerns by reaching out to us at the time of delivery on our customer care number.
  </p>
   </div>
   <div class="commonBoxes">
     <h2>How to place an order?</h2>
     <p>
      1. Need to select the items required along with desired quantity then click on "Go to cart". <br>
      2. Select date  slot as required click to proceed check out. <br>
      3. Select the payment  add any notes if required. <br>
      4. Then the order is placed on the instance if it is online, it will be redirected to the payment gateway. <br>
      5. Once the payment is done, your order will be placed where you will receive the order ID . <br>
  </p>
   </div>
   <div class="commonBoxes">
     <h2> Why do you say that your products are safe to eat ?</h2>
     <p>
      Fruits and Vegetables supply chain is highly complicated, as we all know that it passes through multiple hands right from the harvesting till it reach our plates. Ensuring food safety requires many factors including multisector collaboration. The approach needs to be preventive - to improve food safety and quality. Right from the seeding through good farming practices, Good storage, transportation, retail and delivery practices are equally important to make food safe.
  </p>
   </div>
   <div class="commonBoxes">
     <h2>When and How will I receive my order ?</h2>
     <p>
      Once you are done with selecting your products and click on checkout you will be provided to select delivery slot. Your order will be delivered to you on the preferred day and time slot. Our Delivery executives will deliver you at the address provided.
  </p>
   </div>
  </div>

</div>
