
<section class="about" id="about">

  <div class="image">
      <img src="https://thumbs.dreamstime.com/b/young-girl-holds-full-paper-bag-groceries-white-wooden-background-above-top-view-flat-lay-young-girl-holds-full-paper-117080551.jpg" alt="">
  </div>

  <div class="content">
      <span>why choose us?</span>

      <p> we are passionate about providing our customers with the freshest and finest selection of fruits and vegetables available. We understand the importance of incorporating fresh produce into a healthy lifestyle, and we are dedicated to bringing you the very best nature has to offer.

        Our mission is to connect you with a wide variety of high-quality fruits and vegetables that are sourced directly from local farmers and trusted suppliers.</p>

        <p>We believe in supporting local agriculture and promoting sustainable farming practices, ensuring that you receive produce that is not only delicious but also environmentally friendly.

        When you step into our store, you will be greeted by a vibrant and colorful display of seasonal fruits and vegetables. From juicy apples to crisp lettuce, from succulent berries to flavorful tomatoes, we offer an extensive range of choices to cater to your taste preferences and culinary needs.

        We take pride in carefully selecting our produce to ensure it meets our strict quality standards.</p>

        <p>Our dedicated team inspects each item, choosing only the freshest and ripest options for our customers. We understand that quality matters, and we strive to provide you with produce that is bursting with flavor, rich in nutrients, and visually appealing.

        In addition to our commitment to freshness, we strive to create a shopping experience that is convenient and enjoyable. </p>
        <p>Our knowledgeable staff is always available to assist you, providing guidance on selecting the best produce, sharing recipe ideas, and answering any questions you may have. We believe in fostering a friendly and welcoming atmosphere, where you can feel confident and inspired to make healthy choices.

          we understand that your time is valuable. </p>

          <p>That's why we offer efficient checkout services and strive to keep our shelves well-stocked with a wide variety of fruits and vegetables, ensuring you have access to the ingredients you need whenever you visit.

         Whether you're a seasoned chef, a health-conscious individual, or simply someone who appreciates the goodness of fresh produce, we are here to serve you. </p>

         <p>We are dedicated to being your go-to destination for all your fruit and vegetable needs, helping you lead a healthier and more vibrant life.

         Thank you for choosing. We look forward to providing you with the highest quality produce and exceptional service that you deserve. Visit us today and experience the difference of fresh, flavorful, and nutritious fruits and vegetables!</p>

      <div class="icons-container">
          <div class="icons">
              <img src="assets/images/serv-1.png" alt="">
              <h3>fast delivery</h3>
          </div>
          <div class="icons">
              <img src="assets/images/serv-2.png" alt="">
              <h3>fresh food</h3>
          </div>
          <div class="icons">
              <img src="assets/images/serv-3.png" alt="">
              <h3>best quality</h3>
          </div>
          <div class="icons">
              <img src="assets/images/serv-4.png" alt="">
              <h3>24/7 support</h3>
          </div>
      </div>
  </div>

</section>
