

<!-- ----------------------------- Display variety of food --------------------------------->
<div class="background" *ngIf="exit">
<div class="inner">
  <div class="topnav">
    <button class="exit" [routerLink]="link"><i class="fa-solid fa-xmark"></i></button>
    <h3>Filter</h3>
  </div>
  <div class="bottomnav">
    <button class="clear">CLEAR</button>
    <button class="show" (click)="home()">SHOW RESTAURANTS</button>
  </div>
  <h3>cuisines</h3>
  <div class="flex">
    <div *ngFor="let varieties of variety; let ind=index"><input type="checkbox" (click)="varietyName(ind)"><p>{{varieties}}</p></div>
  </div>
  <h3>show restaurants with</h3>
  <div class="flex1">
    <div><input type="checkbox"><p class="offers">offers</p></div>
    <div><input type="checkbox"><p class="veg">pure&nbsp;veg</p></div>
  </div>
</div>
</div>

