

<!-- -----------------------------Display the orders --------------------------------->
<div class="gif" *ngIf="isEmpty">
  <img src="./assets/emptycart.gif" alt="image">
  <h1>Your Orders Are Empty!</h1>
</div>
<div class="Orders">
  <h1 *ngIf="!isEmpty">{{pastOrderDetails.length}} &nbsp;Past Orders</h1>

  <div class="orderBox">
  <div class="commonBox" *ngFor="let OrderItems of pastOrderDetails; let indexNumber=index ">
<div class="commonBoxes">
  <div><img src="{{OrderItems.productImage}}" alt=""></div>
  <div>
    <p>yet to be deliver <i class="fa-solid fa-circle-xmark" style="color: red;"></i></p>
    <h2 (click)="categoryRoute(indexNumber)">{{OrderItems.categoryName}}</h2>
    <h4>Order #{{OrderItems.orderId}} | {{OrderItems.orderedDate[0]}}, {{OrderItems.orderedDate[1]}}</h4>
    <a (click)="ViewDetails(indexNumber)">VIEW DETAILS</a>
    <h4>Total Price: ₹ {{OrderItems.totalPrice}}</h4>
  </div>
</div>
<div class="commonBoxes" *ngFor="let orderedItems of pastOrderDetails[indexNumber].orderedItems;">
  <p>{{orderedItems.productName}} x {{orderedItems.productQuantity}}</p>
</div>
<div class="OrderButton">
  <div class="button">
    <button (click)="reOrder(indexNumber)">REORDER</button>
  </div>
  <div class="button">
  <button>Help</button>
</div>
</div>
  </div>
</div>
</div>


<!-- ----------------------Display order Details---------------------- -->
<div class="viewDetails" *ngIf="isViewDetails">

  <div class="innerviewDetails">
    <button class="exit" (click)="close()"><i class="fa-solid fa-xmark"></i></button>
    <p>Order #{{viewDetailsInfo.orderId}}</p>

    <div class="innerItemDetail">
      <div class="innerItemDetails">

        <div class="innerItemDetails1">
          <h1><i class="fa-solid fa-truck"></i>&nbsp;&nbsp;{{viewDetailsInfo.categoryName}}</h1>
        </div>
        <div class="innerItemDetails1">
          <h1><i class="fa-solid fa-truck"></i>&nbsp;&nbsp;{{viewDetailsInfo.address.addressType}}</h1>
          <h2>{{viewDetailsInfo.address.doorNo}}, {{viewDetailsInfo.address.landmark}},{{viewDetailsInfo.address.adress}} <br> {{viewDetailsInfo.address.district}}</h2>
        </div>
        <div class="innerItemDetails1" style="margin-bottom: 10px;" *ngIf="isDeliverTime">
          <h2><i class="fa-solid fa-circle-xmark" style="color: red;"></i>&nbsp;&nbsp;Yet to be deliver</h2>
        </div>

      </div>
      <div class="innerItemDetails">
        <h2> {{viewDetailsInfo.orderedItems.length}} ITEM</h2>

        <div class="innerProductDetail">
          <div class="innerProductDetails">
            <div class="innerDivProductDetails" *ngFor="let orderProducts of viewDetailsInfo.orderedItems">
              <div> <p>{{orderProducts.productName}} x {{orderProducts.productQuantity}}</p></div>
              <div> <h2>₹ {{orderProducts.productPrice}}</h2></div>
            </div>
            <div class="innerDivProductDetails">
              <div> <p>Item Total</p></div>
              <div> <h2>₹ {{viewDetailsInfo.totalPrice-43}}</h2></div>
            </div>
            <div class="innerDivProductDetails" style="margin-bottom: 10px;">
              <div> <p>Delivery Fee</p></div>
              <div> <h2>₹ 43</h2></div>
            </div>

          </div>
        </div>

      </div>
      <div class="innerItemDetails">
        <div class="paymentType">
          <div>
            <p>{{viewDetailsInfo.paymentMenthod}}</p>
          </div>
          <div>
            <h2>Bill Total</h2>
          </div>
          <div>
            <h2>₹ {{viewDetailsInfo.totalPrice}}</h2>
          </div>
        </div>
      </div>
    </div>
    <button class="paymentButton" *ngIf="isPaymentButton">PAYMENT</button>
  </div>



</div>
