
*{
  font-family: sans-serif;
}

.commonBox{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  box-shadow: 1.5px 0.5px 5px 2px rgba(0,0,0,0.2);
  margin-left: 25px;
  /* padding: 30px; */
}

.PaymentDetails h1{
  padding: 20px 0px 10px 30px;
  font-weight: bold;
  font-size: 1.4vw;
}

.cardDetails{
  background: black;
  color: white;
  width: 350px;
  height: 200px;
  margin: 30px;
  border-radius: 20px;
}

.cardDetails img{
  width: 100px;
  height: 50px;
  margin-left: 220px;
}

.cardDetails h1{

  font-size: 1.3vw;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
 }
.cardDetails h2{
  font-size: 1.1vw;
  font-weight: bold;
  margin-left: 37px;
  margin-bottom: 10px;
 }
